html, body {
    height: 100%;
}
  
body {
  background: url('EkM0.gif');
  background-size: cover;
  background-position: center center;

    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}